doctype html
// saved from url=(0043)https://colorlib.com/preview/theme/startup/
html.no-js(lang='zxx', style='display: block;')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1,\
    shrink-to-fit=no')
    link(rel='shortcut icon', href='https://colorlib.com/preview/theme/startup/img/fav.png')
    meta(name='author', content='codepixer')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(charset='UTF-8')
    title= title
    link(href='./css/css', rel='stylesheet')
    link(rel='stylesheet', href='./css/linearicons.css')
    link(rel='stylesheet', href='./css/font-awesome.min.css')
    link(rel='stylesheet', href='./css/bootstrap.css')
    link(rel='stylesheet', href='./css/magnific-popup.css')
    link(rel='stylesheet', href='./css/nice-select.css')
    link(rel='stylesheet', href='./css/animate.min.css')
    link(rel='stylesheet', href='./css/owl.carousel.css')
    link(rel='stylesheet', href='./css/main.css')
    script(type='text/javascript', charset='UTF-8', src='./js/common.js')
    script(type='text/javascript', charset='UTF-8', src='./js/util.js')
  body(style='display: block;')
    button#mobile-nav-toggle(type='button')
      i.lnr.lnr-menu
    header#header
      .container
        .row.align-items-center.justify-content-between.d-flex
          #logo
            a(href='https://colorlib.com/preview/theme/startup/index.html')
              img(src='./img/logo.png', alt='', title='')
          nav#nav-menu-container
            ul.nav-menu.sf-js-enabled.sf-arrows(style='touch-action:\
            pan-y;')
              li.menu-active
                a(href='/') Home
              li
                a(href='/api') Api
              li
                a(href='/about') About
              li
                a(href='/project') Project
              li
                a(href='/login') Login/Register
    section#home.banner-area
      .container
        .row.fullscreen.d-flex.align-items-center.justify-content-center(style='height: 911px;')
          .banner-content.col-lg-7
            h1
              | Turn your cellphone into SMS gatewy 4 free
            p.pt-20.pb-20
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              | enim ad minim.
    script(src='./js/jquery-2.2.4.min.js')
    script(src='./js/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='./js/bootstrap.min.js')
    script(type='text/javascript', src='./js/js')
    script(src='./js/easing.min.js')
    script(src='./js/hoverIntent.js')
    script(src='./js/superfish.min.js')
    script(src='./js/jquery.ajaxchimp.min.js')
    script(src='./js/jquery.magnific-popup.min.js')
    script(src='./js/owl.carousel.min.js')
    script(src='./js/jquery.sticky.js')
    script(src='./js/jquery.nice-select.min.js')
    script(src='./js/parallax.min.js')
    script(src='./js/mail-script.js')
    script(src='./js/main.js')
    script(async='', src='./js/js(1)')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-23581568-13');
    nav#mobile-nav
      ul(style='touch-action: pan-y;', id='')
        li.menu-active
          a(href='/') Home
        li
          a(href='') We Offer
        li
          a(href='') About
        li
          a(href='') Project
        li
          a(href='https://colorlib.com/preview/theme/startup/#price') Price
        li.menu-has-children
          i.lnr.lnr-chevron-down
          a.sf-with-ul(href='') Pages
          ul(style='display: none;')
            li
              a(href='https://colorlib.com/preview/theme/startup/generic.html') Generic
            li
              a(href='https://colorlib.com/preview/theme/startup/elements.html') Elements
    #mobile-body-overly
