<div class="banner-content">
    <h1>
        Ensures
    </h1>
    <p><h3>It's time to use our SMS gateway because it will give you</h3></p>

    <div class="row ensures-container">
            <div class="col col-md-3 col-sm-6">
                <i class="fa fa-shield-alt fa-5x"></i>
                <h3>Provide private SMS communication.</h3>
                <span>With private SMS communication, your users can seamlessly and safely book appointments, confirm deliveries, and more.</span>
            </div>
            <div class="col col-md-3 col-sm-6">
                <i class="fa fa-user-shield fa-5x"></i>
                <h3>Authenticate with ease.</h3>
                <span>With convenient two-factor authentication, users can log in without having to memorize passwords or use an extra app.</span>
            </div>
            <div class="col col-md-3 col-sm-6">
                <i class="fa fa-stopwatch fa-5x"></i>
                <h3>Send it at the right time.</h3>
                <span>Use notifications to send timely, well-targeted SMS messages that surprise and delight your users. (Think booking confirmations and reminders.)</span>
            </div>
            <div class="col col-md-3 col-sm-6">
                <i class="fa fa-bell fa-5x"></i>
                <h3>Get always noticed.</h3>
                <span>With text message marketing, you can inspire your customers with reactivation campaigns and event-based, region-specific offers.</span>
            </div>
    </div>
</div>