<div class="row">
    <div class="col-md-4"><img src="./img/app/gateway_diagram.png" style="marging:500px;"/></div>
    <div class="col-md-8" style="margin-top: 5%">
        <div class="col-md-3"> <img src="./img/app/register.png" style="marging:500px; width:100%;" /></div>
        <div class="col-md-9">
            <h2>Sign up for a free account</h2>
        </div>
        <div class="col-md-3"> <img src="./img/app/download_app.png" style="marging:500px; width:100%;" /></div>
        <div class="col-md-9">
            <h2>Download the app on your smartphone</h2>
        </div>
        <div class="col-md-3"> <img src="./img/app/enjoy.png" style="marging:500px; width:100%;" /></div>
        <div class="col-md-9">
            <h2>Connect and enjoy</h2>
        </div>
    </div>
</div>