<div class="banner-content col-lg-8">
    <h1>
        Turn your cellphone into SMS gatewy 4 free
    </h1>

    <p class="pt-20 pb-20">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim.
    </p>
    <div class="row">
            <div class="col col-md-6"><img src="./img/app/app_store.png" style="max-width:300px; width:100%;" /></div>
            <div class="col col-md-6"><img src="./img/app/play_store.png" style="max-width:300px; width:100%;" /></div>
    </div>
</div>