<div class="banner-content col-lg-8">
    <h1>
        Turn your cellphone into SMS gateway 4 free
    </h1>

    <p class="pt-20 pb-20">
        Inform, reassure and delight your customers with information they need, when and where they need it—even within the context of your app.
    </p>
    <div class="row">
            <div class="col col-md-6"><img src="./img/app/app_store.png" style="max-width:300px; width:100%;" /></div>
            <div class="col col-md-6"><a href="/apk/smsgo_app.apk" target="_blank"><img src="./img/app/play_store.png" style="max-width:300px; width:100%;" /></a></div>
    </div>
</div>