<div class="banner-content col-lg-8">
    <h1>
        How does it work?
    </h1>
    <p><h3>Just call a url like this</h3></p>
    <p class="pt-20 pd-20">
        <span>https://{{hostname}}/api/v2/sendsms?apikey={your api key}&message={your message}&phonId={cellphone Id}&to={Recipient phone number}</span>
    </p>
    <p><h3>My example</h3></p></p>
    <p class="pt-20 pb-20">
       <span>https://{{hostname}}/api/v2/sendsms?apikey=q423$frg3o12iaefkn-23&message=Hey there&phonId=4R&to=00244917663792</span>
    </p>

    <div class="row">
            <div class="col col-md-6"><img src="./img/app/app_store.png" style="max-width:300px; width:100%;" /></div>
            <div class="col col-md-6"><img src="./img/app/play_store.png" style="max-width:300px; width:100%;" /></div>
    </div>
</div>