<h3>Hello {{name}}!</h3>
<p>Your SMSgo Api Account is ready. </p>

<p>We are flattered that you have created an account on our platform, we hope you will interact with it and make good use of it_</p>

<p>Then this is the url for activation of your account_</p>

<p><a href="{{activationUrl}}" target="_blank">{{activationUrl}}</a></p>

<p><b>Enjoy_</b></p>